@font-face {
    font-family: stenier;
    src: url(fonts/Oswald-VariableFont_wght.ttf);
}
*{
    box-sizing: border-box;
}
header{
padding: 30px;
 
}
.image{
    height: 16px;
    width: 16px;
}
nav{
   display: flex;
   justify-content: space-between;
}
.image-left
{
    margin-left: 6px;
  
}
.text-color{
    color:#f10707f6;
}
.text-one{
    padding: 7px;
    margin-left: 10px;
    font-family: stenier;
}
.text:hover{
    cursor: pointer;
border:1px solid gray;
border-radius: 4px;
}
main{
    width: 1341px;
    height: 2000px;
background-color: rgb(0, 0, 0);
}
.image-one-main{
    display: flex;
    justify-content: space-around;
   
}
.image-redius{
    border-radius: 8px;
}
.svg-one-main{
    margin-right: 340px;
   width: 155px;
   height: 32px;
}
.border-one-main{
    padding: 4px;
    display: flex;
    border: 1px solid rgba(212, 210, 210, 0.123);
    border-radius: 5px;
    
}
.border-center{
  padding: 10px;
    display: flex;
    justify-content: center;
}
.messageborder-one-main{
font-family: stenier;
    display: flex;
    align-items: center;
}
.box{
    width: 150px;
    height: 150px;   
}
.box-playlist{
    display: flex;
    justify-content: space-around;
}
.message-playlist{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin:0px 23px;
    font-family: stenier;

}
.viewmore-box{
   
   color:black;
   border: 1px solid black;
   padding: 5px;
}
.viewmore-box:hover{
    background-color: aliceblue;
    
}
.message-margin{
    margin-right: 10px;
}